@using Obsidian.MessageNode.SqlServer.Models
@model Obsidian.MessageNode.SqlServer.Models.UserInfo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstSeenUTC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstSeenUTC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastSeenUTC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastSeenUTC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
